<ion-view title="gift.title" class='stable-bg'>
  <ion-content has-header="true" has-tabs="true" padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{ gift.img }}">
        <h2>{{ gift.title }}</h2>
        <p>{{ gift.description }}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ gift.img }}">
        <p>
          {{ gift.title }}
        </p>
        <p class="subdued">
        <span>
          Source: Amazon
        </span>
        <span class="float-right">
          {{ gift.price | currency }}
        </span>
        </p>

        <a class="button icon-right ion-chevron-right button-balanced float-right buy-button" ng-href="{{ gift.summary.producturl }}">Buy</a>
      </div>

    </div>

  </ion-content>
</ion-view>
