<div padding="false" has-header="false" has-tabs="false">
  <img src="/res/images/splash.png" class="splash">

  <content padding="true">
    <h1 class="logo">Giftlist</h1>

    <form name="login_form" novalidate ng-submit="login(user)" class="login-forms">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text"
          name="username"
          ng-model="user.username"
          placeholder="Username"
          ng-minlength=3
          ng-maxlength=15
          required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password"
          name="password"
          ng-model="user.password"
          placeholder="Password"
          ng-minlength=6
          required>
      </label>
      <button type="submit" ng-disabled="login_form.$invalid" class="button button-block button-positive">Login</button>
    </form>
    <div class="sign-up-link">New user? <a href="#/signup">Sign up here!</a></div>
  </content>

</div>
